h2{
    color: rgb(255, 115, 0);
    font-style: italic;
}
header{
   color: brown;
   text-align:center;

}
*{
    /* color: blueviolet; */
    background-color:burlywood;
    text-decoration: none;
    font-style:normal;
    text-align: center;
    /* background-repeat: no-repeat;
    background: size 100%; 
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmFFc4vZYWwE4v77S-ss2eagVO0T3OC6lLmw&usqp=CAU); 
    background-position: center; */
}
a:hover{
    color: crimson;
    border-color: cadetblue;
    background-color:darkseagreen;
}

