.form-control{
    width: 400px;
    border-radius: 10px;
}
.form-control{
    margin: 0px 10px;
    padding: 0px;
    border-radius: 22px;
    text-align: center;
}
.d-flex{
    margin:  0px 40px;
}
.btn-outline-success{
    color: black;
    border-color: black;
    border-radius: 22px;
}
.btn-outline-success:hover{
    color: black;
    background-image: linear-gradient(to right, rgb(139, 56, 139) , rgb(48, 42, 124));
    box-sizing: 20px;
}


